/*-----------------------fonts-------------------*/
@font-face {
    font-family: 'PF Highway Sans Pro';
    src: url('fonts/PFHighwaySansPro-Regular.woff2') format('woff2'),
    url('fonts/PFHighwaySansPro-Regular.woff') format('woff'),
    url('fonts/PFHighwaySansPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/*---------------------new style-------------------------*/

* {
    font-family: 'PF Highway Sans Pro';
}
.panel-body-top{
    border: 1px solid #e3e3e3;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(245,242,242,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(245,242,242,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(245,242,242,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(245,242,242,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(245,242,242,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(245,242,242,1) 100%);
}
.dashboard h3{
    font-size: 20px;
    color: #00a000;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 5px;
}
.dashboard .summary span{
    font-size: 10px;
    font-weight: normal;
    color: #9a9a9a;
    text-transform: uppercase;
}
.dashboard-width{
    max-width: 1088px;
    width: 100%;
}
.dashboard .summary {
    text-align: center;
    line-height: 9px;
    margin-top: 6px;
    margin-bottom: 6px;
}
.dashboard-bg{
    background-color: #edf3f6;
}
.digits-style{
    padding-top: 5px;
}
.panel {
    margin-bottom: 5px;
}
.badge {
    display: inline-block;
    width: 10px;
    height: 10px;
    padding: 3px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: #999;
    border-radius: 100%;
}
.panel-footer {
    padding: 11px 8px;
    border-top: none;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.legend-style,
.wrapper-dadge{
    display: flex;
    align-items: center;
}
.wrapper-dadge{
    margin-right: 20px;
}
.legend-style{
    margin-top: 10px;
    background-color: #edf2f5;
}
.legend-style span{
    margin-left: 8px;
}
.heading-style{
    display: flex;
    align-items: flex-start;
    font-size: 18px;
    padding: 15px;
    border-bottom: 1px solid #e4e4e4;
}
.margin-bar{
    padding-top: 5px;
}
.donuts-style{
    background-color: #ffffff;
}
.graph-info-wrapper{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 82px;
    width: 100%;
    margin-right: 10px;
}
.graph-footer{
    color: #333231;
    font-size: 10px;
}
.graph-width{
    max-width: 200px;
    max-height: 200px;
}
.panel-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #efefef;
    margin-bottom: 10px;
    border-top: none;
}
.panel-graph,
.header-donut{
    margin-bottom: 10px;
    background: #fff;
}
.header-block-charts{
    border-bottom: 1px solid #e3e3e3;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-charts{
    border: 1px solid #e3e3e3;
    border-radius: 0;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    font-size: 10px;
    text-transform: uppercase;
    color: #333231 !important;
    line-height: 10px;
}
.control-charts{
    width: 10rem !important;
    font-size: 12px;
    color: #6a635f;
    padding: 7px 11px;
    border: 1px solid #ededed;
    outline: none;
    cursor: pointer;
    font-weight: normal;
    background: hsl(0, 0%, 93%);
}
select.control-charts{
    -webkit-appearance: none;
    background-image: url("img/Chevron-Down.png");
    background-repeat: no-repeat;
    background-size: 8px 6px;
    background-position: 90% 50%;
}
.page-navigation-date-top{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.top-header-title{
    font-size: 18px;
    margin: 0;
    color: #717171;
}
.top-navigation{
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: #dedede;
}
.form-group-search{
    width: 100%;
    min-width: 200px;
}
.navigation-search{
    max-width: 555px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eeeeee;
    border-radius: 50px;
}
.form-control-search{
    width: 100%;
    border: none;
    padding: 5px 10px;
    background-color: transparent;
    outline: none;
}
.btn-default-search{
    width: 15px;
    height: 15px;
    border: none;
    outline: none;
    background-color: transparent;
    background-image: url("img/search.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.pencil-search{
    background-image: url("img/pencil.png");
    background-repeat: no-repeat;
    width: 15px;
    height: 20px;
    background-size: contain;
    margin-right: 5px;
}
.wrapper-form-search{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 6px;
}